# Build and deploy Next.js app to Vercel with GitHub Actions

name: Build and Deploy

on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        name: Check out repository
      - run: npm install -g vercel
        name: Install the Vercel CLI
      - run: vercel build --token="${VERCEL_TOKEN}"
        name: Build site
      - run: vercel deploy --prebuilt --token="${VERCEL_TOKEN}"
        name: Deploy site
